@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #1e1b4b;
  font-weight: 600;
}

.imagen {
  border-radius: 50% 50% 12% 12%;
  padding: 6px;
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.imagen1 {
  border-radius: 50% 50% 12% 12%;
}
.clippath{
  clip-path: polygon(91% 0, 100% 0, 100% 100%, 69% 100%);
  background-color: red;
}
.animate__animated {
  animation-duration: 1s;
}
.posicion{
  left: calc(50% - 9rem);
}

.boton{
  @apply bg-indigo-600 dark:bg-purple-600 p-3 rounded-lg text-white hover:-translate-y-2 hover:text-indigo-600 dark:hover:text-purple-600 hover:bg-transparent overflow-hidden hover:border-indigo-600 dark:border-purple-600 dark:hover:bg-transparent border transition-all duration-300
}
.parrafo{
  @apply text-justify font-light text-sm dark:text-white
}
.prueba{
  background-color: blueviolet;
  color: white;
}

.contenedor:hover > .icono{
  background-color: #7c3aed;
  color: white;
}
/* section{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
} */